
/* universal */
body {
    background-image: url("../public/img/background.png");
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 70px;
}

/* nav bar */
.color-nav {
    background-color: #FFE1EE;
}


/* footer */
footer {
    padding: 20px;
    height: 2.5rem;
    padding-bottom: 0.2em; 
}

/* home */

.flex-container-home {
    display: flex;
    justify-content: space-evenly;
}
.flex-item-card-home {
    width: 60%;
    background-color: white;
    margin: 6rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    padding: 4%;
}

/* project page */
* { box-sizing: border-box; }

.page-title {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

div.flex-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding:2em;
    justify-content: center;
  }
.flex-item-card {
    flex: 0 0 250px;
    background-color: white;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.flex-item-card img {
    border-radius: 10px 10px 0 0;
    height: auto;
    width: auto;
    max-width: 300px; 
    max-height: 300px;
}

.flex-item-card .card-content {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0;
}

.project-title {
    text-align: center;
}

.flex-item-card .view-project-button {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:20%;
    padding-left:20%;
}

.margin-right {
    margin-right: 0.5em;
}